.search-bar-home {
    border: none !important;
    width: 100% !important;
}

.search-bar-home button {
    padding: 10px;
    font-size: 20px;
    min-width: calc(100% / 2.2);
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #0097b2;
    background: none;
    color: #0097b2;
    cursor: pointer;
    transition: 0.4s;
}

.search-bar-home button:hover {
    background: #0097b2;
    color: white;
}

.search-bar-home button:nth-child(1) {
    padding: 10px;
    font-size: 20px;
    min-width: calc(100% / 2.2);
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #0097b2;
    background: #0097b2;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.search-bar-home button:nth-child(1):hover {
    background: white;
    color: #0097b2;
}

@media screen and (max-width: 1250px) {
    .header-deebrain {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 99% !important;
        position: absolute;
        top: 0;
        left: 0px;
    }

    .deebrain-menu {
        min-width: 90% !important;
        z-index: 100 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .deebrain-menu li img {
        max-width: 100px !important;
    }

    .deebrain-under-menu li {
        display: none;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .background {
        display: none;
    }

    .container-left-home {
        position: relative;
        margin-top: 50vh !important;
        display: flex;
        width: 100%;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .ag {
        font-size: 20px !important;
    }

    .ac {
        min-width: 100%;
        text-align: center;
        font-size: 30px !important;
    }

    .search-bar-home {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }

    .search-bar-home button {
        min-width: 100% !important;
    }

    div.search-bar-home button {
        max-width: calc(100% / 2.2) !important;
        font-size: 14px !important;
    }
}